/* src/App.css */
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #1b263b;
  font-family: "Arial", sans-serif;
  color: #ffffff42;
  margin: 0;
  padding: 0;
  background-size: cover;
}

.dbz-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: rgba(245, 245, 220, 0.8); /* Soft pale yellow overlay */
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #1b263b;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Arial Black", sans-serif;
  color: #e8c547; /* Soft yellow reminiscent of Dragon Ball stars */
}

button {
  font-weight: bold;
  color: #e8c547;
}

.alert {
  background-color: #a0c4ff;
  color: #1b263b;
  font-weight: bold;
}
